<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iways_Base::menu"
             resource="Iways_Base::menu"
             title="i-ways"
             sortOrder="11"
             dependsOnModule="Iways_Base"
             module="Iways_Base" />
        <add id="Iways_Base::menu_configuration"
             resource="Iways_Base::menu_configuration"
             title="Configuration"
             parent="Iways_Base::menu"
             sortOrder="700"
             module="Iways_Base" />
        <add id="Iways_Base::menu_documentation"
             resource="Iways_Base::menu_documentation"
             title="Documentation"
             parent="Iways_Base::menu"
             sortOrder="800"
             module="Iways_Base" />
        <add id="Iways_Base::menu_documentation_basetheme"
             resource="Iways_Base::menu_documentation_basetheme"
             title="Base Theme"
             parent="Iways_Base::menu_documentation"
             sortOrder="801"
             module="Iways_Base"
             action="iways_base/documentation/index/theme/base/dev/0" />
        <add id="Iways_Base::menu_documentation_freetheme"
             resource="Iways_Base::menu_documentation_freetheme"
             title="Free Theme"
             parent="Iways_Base::menu_documentation"
             sortOrder="802"
             module="Iways_Base"
             action="iways_base/documentation/index/theme/free/dev/0" />
        <add id="Iways_Base::menu_documentation_base"
             resource="Iways_Base::menu_documentation_base"
             title="Base Module"
             parent="Iways_Base::menu_documentation"
             sortOrder="811"
             module="Iways_Base"
             action="iways_base/documentation/index/module/Base/dev/0" />
        <add id="Iways_Base::menu_system"
             resource="Iways_Base::menu_system"
             title="System"
             parent="Iways_Base::menu"
             sortOrder="900"
             module="Iways_Base" />
        <add id="Iways_Base::menu_system_configuration"
             resource="Iways_Base::menu_system_configuration"
             title="Configuration"
             parent="Iways_Base::menu_system"
             sortOrder="911"
             module="Iways_Base"
             action="adminhtml/system_config/edit/section/iways_base" />
        <add id="Iways_Base::menu_system_cleanmedia"
             resource="Iways_Base::menu_system_cleanmedia"
             title="Flush JS/CSS Cache"
             parent="Iways_Base::menu_system"
             sortOrder="977"
             module="Iways_Base"
             action="adminhtml/cache/cleanMedia" />
        <add id="Iways_Base::menu_system_cacheflush"
             resource="Iways_Base::menu_system_cacheflush"
             title="Flush Magento's Cache"
             parent="Iways_Base::menu_system"
             sortOrder="988"
             module="Iways_Base"
             action="adminhtml/cache/flushSystem" />
        <add id="Iways_Base::menu_system_cacheflushall"
             resource="Iways_Base::menu_system_cacheflushall"
             title="Flush Storage Cache"
             parent="Iways_Base::menu_system"
             sortOrder="999"
             module="Iways_Base"
             action="adminhtml/cache/flushAll" />
    </menu>
</config>
