<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Iways_Base::menu" title="i-ways" module="Iways_Base"
    	     sortOrder="000" resource="Iways_Base::menu" />
    </menu>
</config>
