<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Vollkorn_All::menu" title="Vollkorn" module="Vollkorn_All"
    	     sortOrder="000" resource="Vollkorn_All::menu" />
    </menu>
</config>
