.fieldset-wrapper[data-index=vollkorn_settings] > .fieldset-wrapper-title {
    background-image: url('../images/icon.png') !important;
    background-position: 8px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 48px;
}
