<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iways_CategoryTree::menu_configuration_categorytree"
             resource="Iways_CategoryTree::menu_configuration_categorytree"
             title="CategoryTree Module"
             parent="Iways_Base::menu_configuration"
             sortOrder="711"
             module="Iways_CategoryTree"
             action="adminhtml/system_config/edit/section/iways_categorytree" />
        <add id="Iways_CategoryTree::menu_documentation_categorytree"
             resource="Iways_CategoryTree::menu_documentation_categorytree"
             title="CategoryTree Module"
             parent="Iways_Base::menu_documentation"
             sortOrder="811"
             module="Iways_CategoryTree"
             action="iways_base/documentation/index/module/CategoryTree" />
    </menu>
</config>
