.layout-wrapper{
    margin-bottom: 50px;
}

.box{
    position: relative;
    overflow: hidden;
}

.box-link{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.box img{
    vertical-align: middle;
}

.image-placeholder{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f4f3f4;
}

.top{
    width: 100%;
    padding-top: 36.2%;
    max-height: 450px;
}
.bottom {
    width: 100%;
    overflow: hidden;
}

.top-spacer{
    height: 0.65vw;
    width: 100%;
    max-height: 8px;
}

.container-image{
    position: absolute;
    top: 0;
    left: 0;
}

.textbox{
    background: rgb(240, 240, 240);
    background: rgba(240, 240, 240, 0.9);
    padding: 10px 20px 5px 10px;
    z-index: 2;
    position: absolute;
    overflow: auto;
}

.image-title{
    margin-bottom: 10px;
}

.image-text{
    margin-bottom: 15px;
}

.button-container{
    width: 100%;
    height: 27px;
}

.image-button{
    padding: 7px 10px;
    background: #1656bc;
    color: white !important;
    border-radius: 2px;
    font-weight: bold;
    font-size: 11px;
}

.image-button:hover{
    text-decoration: none;
    color: white;
    background: #0e397f;
    font-weight: bold;
    font-size: 11px;
}

.top-left{
    top: 20px;
    left: 20px;
    margin-right: 40px;
}

.top-right{
    top: 20px;
    right: 20px;
    margin-left: 40px;
}

.middle{
    -webkit-transform: translate(-24%, -50%);
    -ms-transform: translate(-24%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.bottom-left{
    bottom: 20px;
    left: 20px;
    margin-right: 40px;
}

.bottom-right{
    bottom: 20px;
    right: 20px;
    margin-left: 40px;
}

.textbox-first_image{
    max-width: 500px;
    max-height: 80%;
}

/*------------------ layout-1 ------------------*/
.layout-1 .bottom{
    max-height: 352px;
}

.layout-1 .container-1, .layout-1 .container-2, .layout-1 .container-3{
    width: 32.66%;
    padding-top: 28.6%;
    float: left;
}

.layout-1 .container-1, .layout-1 .container-2{
    margin-right: 1%;
}

.layout-1 .textbox-second_image, .layout-1 .textbox-third_image, .layout-1 .textbox-fourth_image{
    max-width: 250px;
    max-height: 75%;
    width: 55%;
}

/*------------------ layout-2 ------------------*/
.layout-2 .bottom{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 542px;
}

.layout-2 .container-1{
    width: 32.44%;
    margin-right: 0.56%;
    padding-top: 43.8%;
    float: left;
}

.layout-2 .container-1 .container-image{
    position: absolute;
    top: 0;
    left: 0;
}

.layout-2 .container-2, .layout-2 .container-3{
    max-height: 265px;
    padding-top: 32%;
}

.right-container{
    width: 67%;
    float: left;
}

.layout-2 .spacer{
    width: 67%;
    height: 0.9vw;
    max-height: 12px;
}

.layout-2 .textbox-second_image{
    max-width: 250px;
    max-height: 80%;
    width: 65%;
}

.layout-2 .textbox-third_image, .layout-2 .textbox-fourth_image{
    max-width: 380px;
    max-height: 65%;
}

/*------------------ layout-3 ------------------*/
.layout-3 .bottom{
    max-height: 664px;
}

.layout-3 .container-1, .layout-3 .container-2{
    margin-right: 1%;
}

.layout-3 .container-1, .layout-3 .container-2, .layout-3 .container-3{
    width: 32.66%;
    padding-top: 52%;
    float: left;
}

.layout-3 .textbox-second_image, .layout-3 .textbox-third_image, .layout-3 .textbox-fourth_image{
    max-width: 250px;
    max-height: 80%;
    width: 65%;
}

/*------------------ layout-4 ------------------*/

.layout-4 .top-spacer{
    max-height: 16px;
    height: 1.5vw;
}

.layout-4 .bottom{
    height: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-height: 894px;
}

.left{
    height: 70vw;
    width: 32.83%;
    max-height: 894px;
    z-index: 1;
    margin-right: 1.5%;
    float: left;
}

.right{
    height: 70vw;
    width: 65.67%;
    max-height: 894px;
    float: left;
}

.layout-4 .container-1{
    width: 100%;
    padding-top: 151.4%;
}

.layout-4 .spacer-2{
    height: 2%;
}

.layout-4 .spacer-3{
    height: 2%;
    width: 100%;
}

.layout-4 .spacer-4{
    width: 2%;
    height: 69%;
    float: left;
}

.layout-4 .container-2{
    padding-top: 64%;
    width: 200.3%;
}

.layout-4 .container-3{
    padding-top: 32%;
    width: 100%;
}

.layout-4 .container-4{
    float: left;
    padding-top: 41.5%;
    width: 48%;
}

.layout-4 .container-5{
    padding-top: 75.5%;
    width: 50%;
    float: left;
}

.layout-4 .textbox-fifth_image{
    max-width: 250px;
    max-height: 70%;
}

.layout-4 .textbox-second_image, .layout-4 .textbox-sixth_image{
    max-height: 60%;
    width: 60%;
}

.layout-4 .textbox-third_image, .layout-4 .textbox-fourth_image{
    max-width: 380px;
    max-height: 66%;
}

/*------------------------------------ Hot Sellers ---------------------------------------*/

.topseller-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product-wrapper{
    width:23%;
    border-bottom: none;
}

.product-wrapper:hover{
    -webkit-box-shadow: 0 0 20px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0 0 20px 1px rgba(0,0,0,0.49);
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.49);
}

.product-wrapper a{
    text-decoration: none;
}

.image-wrapper{
    max-height: 354px;
    padding-top: 126%;
    position: relative;
}

.topseller-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
}

.topseller-text{
    margin-top: 15px;
    padding:0 10px 15px 10px;
}

.topseller-name{
    margin-bottom: 20px;
}

.topseller-text .price{
    color: #000000;
    font-weight: 400;
}

.topseller-text .old-price{
    display: block;
}

@media (max-width: 640px){
    .spacer, .top-spacer, .spacer-2, .spacer-3, .spacer-4{
        display: none;
    }

    .top, .layout-1 .container-1, .layout-1 .container-2, .layout-1 .container-3,
    .layout-2 .container-1, .layout-2 .container-2, .layout-2 .container-3,
    .layout-3 .container-1, .layout-3 .container-2, .layout-3 .container-3,
    .layout-4 .container-1, .layout-4 .container-2,
    .layout-4 .container-3, .layout-4 .container-4, .layout-4 .container-5{
        padding-top: 85%;
        width: 100% !important;
        margin-bottom: 10px;
        height: auto;
    }

    /*wider than high*/
    .top .container-image, .layout-2 .container-2 .container-image, .layout-2 .container-3 .container-image,
    .layout-4 .container-2 .container-image, .layout-4 .container-3 .container-image{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        max-width: none;
    }

    /*heigher than wide*/
    .layout-1 .container-1 .container-image, .layout-1 .container-2 .container-image,
    .layout-1 .container-3 .container-image, .layout-2 .container-1 .container-image,
    .layout-3 .container-1 .container-image, .layout-3 .container-2 .container-image,
    .layout-3 .container-3 .container-image, .layout-4 .container-1 .container-image,
    .layout-4 .container-4 .container-image, .layout-4 .container-5 .container-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: none;
    }

    .bottom{
        display: block;
        max-height: none !important;
    }

    .layout-2 .right-container{
        width: 100%;
    }

    .layout-4 .bottom{
        height: auto;
    }

    .layout-4 .left, .layout-4 .right{
        width: 100%;
        height: auto;
        max-height: none;
    }

    .textbox{
        max-width: none !important;
        left: 0;
        right: 0;
        max-height: 100% !important;
        width: unset !important;
        text-align: center;
    }

    .top-left, .top-right{
        top: 0;
        bottom: unset;
        margin: 0;
    }

    .bottom-left, .bottom-right{
        top: unset;
        bottom: 0;
        margin: 0;
    }

    .middle{
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        top: 50%;
        bottom: unset;
    }

    .button-container{
        text-align: center;
    }

    .topseller-wrapper{
        flex-direction: column;
    }

    .product-wrapper{
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid #e4e4e4;

    }

    .product-wrapper:nth-child(1){
        z-index: 4;
    }

    .product-wrapper:nth-child(2){
        z-index: 3
    }

    .product-wrapper:nth-child(3){
        z-index: 2;
    }

    .product-wrapper:nth-child(4){
        z-index: 1;
    }

    .product-wrapper:nth-last-child(1){
        border-bottom: none;
    }

    .image-wrapper{
        padding-top: 80%;
    }
    
    .topseller-text{
        margin-top: 0;
        text-align: center;
    }
}