.fieldset-wrapper[data-index=iways_settings] > .fieldset-wrapper-title {
    background-image: url('../images/icon.png') !important;
    background-position: 9px 11px !important;
    background-repeat: no-repeat !important;
    padding-left: 52px;
}
