#menu-iways-base-menu .level-2.item-design-config > a::before {
    background-position: -272px -96px;
}
#menu-iways-base-menu .level-2.item-system-design-theme > a::before {
    background-position: -256px -96px;
}
#menu-iways-base-menu .level-2.item-menu-configuration-design > a::before,
#menu-iways-base-menu .level-2.item-menu-documentation-design > a::before {
    background-position: 0 -64px;
}

.fieldset-wrapper[data-index=iways_settings] > .fieldset-wrapper-title {
    background-image: url('../images/icon_32x32.png') !important;
    background-position: 9px 11px !important;
    background-repeat: no-repeat !important;
    padding-left: 52px;
}

.admin__fieldset > .admin__field.iways-full-width > .admin__field-control {
	width: calc(100% - 135px);
}
.admin__fieldset > .admin__field.iways-full-width > .admin__field-control > textarea {
	height: 255px;
}


input.iways-color {
    transition: .125s;
    width: 128px !important;
}

.iways-width-height input[type=number] {
    width: 64px;
}

.iways-width-height-fields {
    display: none;
}
.iways-width-height-fields > * {
    margin-left: 8px;
}
