#menu-iways-base-menu .level-2.item-design-homepage > a::before,
#menu-iways-base-menu .level-2.item-menu-documentation-homepage > a::before {
    background-position: -240px 0;
    left: 17px;
    top: 15px;
}

.colorpicker{
    z-index: 2;
}

.has-border-top{
    border-top: 1px solid #ededed !important;
    padding-top: 30px !important;
}