<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Iways\HomePage\Model\ImageUploader">
        <arguments>
            <!-- Temporary file stored in pub/media/faq/tmp/icon -->
            <argument name="baseTmpPath" xsi:type="string">homepage/tmp/images</argument>
            <argument name="basePath" xsi:type="string">homepage/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">png</item>
                <item name="jpeg" xsi:type="string">gif</item>
                <item name="gif" xsi:type="string">jpg</item>
                <item name="png" xsi:type="string">jpeg</item>
                <item name="svg" xsi:type="string">svg</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Widget\Chooser" type="Iways\HomePage\Block\Adminhtml\Product\Widget\Chooser" />
</config>