<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Iways_GoogleFonts::menu_configuration_googlefonts"
             resource="Iways_GoogleFonts::menu_configuration_googlefonts"
             title="GoogleFonts Module"
             parent="Iways_Base::menu_configuration"
             sortOrder="711"
             module="Iways_GoogleFonts"
             action="adminhtml/system_config/edit/section/iways_googlefonts" />
        <add id="Iways_GoogleFonts::menu_documentation_googlefonts"
             resource="Iways_GoogleFonts::menu_documentation_googlefonts"
             title="GoogleFonts Module"
             parent="Iways_Base::menu_documentation"
             sortOrder="811"
             module="Iways_GoogleFonts"
             action="iways_base/documentation/index/module/GoogleFonts"  />
    </menu>
</config>
