@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

body {
	font-family: 'Vollkorn', serif !important;
}

body .page-wrapper {
    background-color: white;
    background-image: url('../images/background-125.png');
    background-position: left top;
    /*background-repeat: repeat-y;
    background-size: 100%;*/
    animation: animatedBackground 30s linear infinite;
}

.page-layout-admin-login .page-wrapper,
table.data-grid {
    border-radius: 5px;
    overflow: hidden;
}

.login-header {
	background-image: url('../images/logo.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: auto 62px;
    position: relative;
}

.login-header::before {
	bottom: 0;
	content: 'Vollkorn';
    position: absolute;
    left: 64px;
}
.login-header::after {
    bottom: 0;
    content: 'Edition';
    position: absolute;
    right: 80px;
}


.message-system-short {
	border-radius: 0 0 5px 5px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, .5);
}

.fieldset-wrapper[data-index=vollkorn_settings] > .fieldset-wrapper-title {
    background-image: url('../images/icon.png') !important;
    background-position: 8px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 48px;
}


/* magento backend tunings */

.admin__action-dropdown {
    background-color: transparent !important;
}

.page-main-actions:not(._hidden),
.page-actions._fixed {
    background: none !important;
    border-top: none !important;
}

.dashboard-container .empty-text {
    padding: 5px 3px 0;
}

.dashboard-store-stats .dashboard-store-stats-content {
	background-color: white;
    border: solid 1px #bbb;
    border-top: none;
}


/* END-OF-FILE */
