body {
	font-family: 'Vollkorn', serif !important;
}

body .page-wrapper {
    background-color: white;
    background-image: url('../images/background-125.png');
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 100%;
}

.fieldset-wrapper[data-index=vollkorn_settings] > .fieldset-wrapper-title {
    background-image: url('../images/icon.png') !important;
    background-position: 8px 6px !important;
    background-repeat: no-repeat !important;
    padding-left: 48px;
}


/* magento backend tunings */

.admin__action-dropdown {
    background-color: transparent !important;
}

.page-main-actions:not(._hidden),
.page-actions._fixed {
    background: none !important;
    border-top: none !important;
}

.dashboard-container .empty-text {
    padding: 5px 3px 0;
}

.dashboard-store-stats .dashboard-store-stats-content {
	background-color: white;
    border: solid 1px #bbb;
    border-top: none;
}


/* END-OF-FILE */
