#menu-iways-base-menu > a::before {
    background-image: url('../images/icon.png');
    background-position: center 4px;
    background-repeat: no-repeat;
    content: '';
    height: 36px;
    margin-bottom: 0;
}

#menu-iways-base-menu > a > span {
    display: block;
    padding: 5px;
}

.admin__page-nav.iways .admin__page-nav-title {
    background-image: url('../images/icon.png') !important;
    background-position: 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 48px;
}

.iways-doc p,
.iways-doc ol,
.iways-doc ul {
    margin-bottom: 2.5em;
}

.iways-doc .language-flag {
	border: solid 1px #ddd;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	display: inline-block;
	height: 20px;
	float: right;
	overflow: hidden;
	width: auto;
}
.iways-doc .language-flag > img {
    height: 100%;	
    width: auto;
}
