#menu-iways-base-menu > a::before {
    background-image: url('../images/icon_32x32.png');
    background-position: center 4px;
    background-repeat: no-repeat;
    content: '';
    height: 36px;
    margin-bottom: 0;
}

#menu-iways-base-menu > a > span {
    display: block;
    padding: 5px;
}

.admin__page-nav.iways .admin__page-nav-title {
    background-image: url('../images/icon_32x32.png') !important;
    background-position: 8px !important;
    background-repeat: no-repeat !important;
    padding-left: 48px;
}

.accordion .config input[id^="iways_"] + .note::before {
    color: #514943;
    content: '\e633';
    display: inline-block;
    font-family: 'Admin Icons';
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.1;
    margin-right: 3px;
    overflow: hidden;
    speak: none;
    text-align: center;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

#row_iways_base_iways_base_information_iways_base_information_credits span[data-config-scope]:before,
#row_iways_base_iways_base_information_iways_base_information_check {
	display: none;
}
#row_iways_base_iways_base_information_iways_base_information_notification .note {
	color: red;
	margin: 0;
}

.iways-width-1_2 {
	min-width: auto !important;
    width: 50% !important;
}
.iways-width-1_3 {
	min-width: auto !important;
    width: 33.333% !important;
}
.iways-width-1_4 {
	min-width: auto !important;
    width: 25% !important;
}
.iways-width-1_5 {
	min-width: auto !important;
	width: 20% !important;
}
.iways-width-1_6 {
    min-width: auto !important;
    width: 16.666% !important;
}
.iways-width-1_7 {
    min-width: auto !important;
    width: 14.25% !important;
}
.iways-width-1_8 {
	min-width: auto !important;
    width: 12.5% !important;
}

.iways-code {
	background-color: black;
	border-radius: 4px;
    box-shadow: 0 0 4px white inset;
    color: forestgreen;
    display: inline-block;
	padding: 6px;
}

.iways-doc p,
.iways-doc ol,
.iways-doc ul {
    margin-bottom: 2.5em;
}

.iways-doc .language-flag {
	border: solid 1px #ddd;
	border-radius: 4px;
	box-shadow: 0 0 4px rgba(0, 0, 0, .4);
	display: inline-block;
	height: 20px;
	float: right;
	overflow: hidden;
	width: auto;
}
.iways-doc .language-flag > img {
    height: 100%;	
    width: auto;
}
